.light-mode{
  background-color: white;
  color: black;
}

.dark-mode{
  background-color: black;
  color: white;
}

.red-mode{
  background-color: red;
  color: yellowgreen;
}

.blue-mode{
  background-color: blue;
  color: orange;
}

/* ---------------------------- */
li{
  cursor: pointer;
}
li:hover{
  font-weight: bold;
}